<!-- header -->
<header>
  <h2 class="heading">
    株式会社 <span>ターン・ライト</span>
  </h2>
  <nav>
    <ul class="nav-list">
      <li class="nav-list-item"><%= link_to 'ご挨拶', homes_about_path, class: "link" %></li>
      <li class="nav-list-item"><%= link_to '料金案内', husuis_index_path, class: "link" %></li>
      <li class="nav-list-item"><%= link_to 'ご相談の流れ', husuis_show_path, class: "link" %></li>
      <li class="nav-list-item"><%= link_to 'お問い合わせ', husuis_help_path, class: "link" %></li>
    </ul>
  </nav>
</header>


<div class= "image"></div>

<div class="index">
  <div class="index-text">
    <h4>宿命鑑定</h4>
    <span>_______</span>
    <br />
    <br />
    <h3>料金30分/2,000円</h3>
    <br />
    <h5><span1>宿命鑑定とは？</span1></h5>
    <span>----------------------------------------------------------------------------------------------------------</span>
    <br />
    <p>人は生まれながらに役割と素質があります。<br />
    その役割と素質を生年月日から割り出しお伝えしています。<br />
    宿命も素質も、それ自体に善し悪しはありません。<br />
    与えられた宿命を生きていくことで魂は輝き、運気を味方につけることができるのです。<br /></p>
  </div>
  
  <div class="price-image">
    <%= image_tag 'img/midori.jpg', style: "border-radius: 30px; width: 400px; height: 400px; object-fit:cover;" %>
  </div>
  
  <div class="index-box">
    <h4><span1>このような人におすすめ</span1></h4>
    <span>--------------------------------------------------------------------------------------------------------------------------------------------------------</span>
    <ul class="index-list">
      <li>自分を知りたい</li>
      <li>やりたいことが分からない</li>
      <li>なにかを始めたい</li>
      <li>いまの仕事が自分に合っているのか知りたい</li>
      <li>自分らしく生きたい</li>
      <li>運気を上げたい</li>
    </ul>
  </div>
  
</div>