<!-- header -->
<header>
  <h1 class="heading">
    株式会社 <span>ターン・ライト</span>
  </h1>
  <nav>
    <ul class="nav-list">
      <li class="nav-list-item"><%= link_to 'ご挨拶', homes_about_path, class: "link" %></li>
      <li class="nav-list-item"><%= link_to '料金案内', husuis_index_path, class: "link" %></li>
      <li class="nav-list-item"><%= link_to 'ご相談の流れ', husuis_show_path, class: "link" %></li>
      <li class="nav-list-item"><%= link_to 'お問い合わせ', husuis_help_path, class: "link" %></li>
    </ul>
  </nav>
</header>

<div class= "about-image"></div>

<div class="about">
  <div class="about-text">
    <p>皆様、こんにちは。 株式会社 ターン・ライト.代表の貴糸 麻友です。<br />
    <br />
    コロナ禍の中いかがお過ごしでしょうか。<br />
    苦しい状況を強いられた方が多数でしょう。<br />
    しかし、中にはこれを機に事業が上手くいったり、出世された方々が居られるのも事実です。<br />
    この方々には”運”が味方したのかも知れません。<br />
    <br />
    東南アジアのビジネスでは風水は欠かせません。<br />
    事務所の開設日、商談の日、お店のレジの向き、そして、一番重要な住まいの環境など、色々なところに風水が根付いているのです。<br />
    情報の交錯する時代、真偽の判断力が運命を左右する時代です。<br />
    生活の中に風水を取り込むことで気の巡りを良くし、真の自分に出逢え、波動は高まり、やがて周りには波長の合う人同士で笑いあえていることでしょう。<br />
    <br />
    北海道札幌市にある弊社では、その手助けをさせていただく事業を行っております。<br />
    職場での人間関係、事業が上手く行かない、やる気が出ない、お子さんの事、夫婦の事、体調の事など、どんな悩みでも構いません。<br />
    まずは、相談されてみてはいかがでしょうか。<br />
    <br />
    6000年の歴史を誇る風水で解決に導きます。<br />
    ご連絡お待ちしております。<br />
    すべては、うまく、いっている。よし！</p>
  </div>
</div>

<div class="profile">
  <div class= "profile-image">
    <h3>自己紹介</h3>
    <%= image_tag "img/メイン1.jpg", style: "border-radius: 50%; width: 400px; height: 400px; object-fit:cover;" %>
  </div>
  
  
  <div class="right">
    <p class="profile-name">貴糸 麻友</p>
    <p class="profile-text">
      得意分野：脳環境　建築<br />
      <br />
      風水を取り入れた理由・きっかけ<br />
      <br />
      単調な日々から開放されるのではないかと思い、環境を整えてみました。<br />
      居住空間がいかに脳に影響を与えるか、実感しております。<br />
      <br />
      メッセージ<br />
      成功者の影に風水師あり。<br />
      突然のチャンスに備えておきましょう。<br />
      <br />
    </p>
  </div>
</div>


<!-- footer -->
<footer>
  <p class="footer-text">Copyright © 株式会社 ターン・ライト. All rights reserved.</p>
</footer>

