<!-- header -->
<header>
  <h2 class="heading">
    株式会社 <span>ターン・ライト</span>
  </h2>
  <nav>
    <ul class="nav-list">
      <li class="nav-list-item"><%= link_to 'ご挨拶', homes_about_path, class: "link" %></li>
      <li class="nav-list-item"><%= link_to '料金案内', husuis_index_path, class: "link" %></li>
      <li class="nav-list-item"><%= link_to 'ご相談の流れ', husuis_show_path, class: "link" %></li>
      <li class="nav-list-item"><%= link_to 'お問い合わせ', husuis_help_path, class: "link" %></li>
    </ul>
  </nav>
</header>
<!-- main-visual用のdiv -->
<div class="main-visual">
  <div class="main-visual-content">
    <p class="main-visual-text">
      風水でくらしを豊かに<br />
      <br />
      人間関係、恋愛、育児、家庭問題、夫婦仲など<br />
      なんでもご相談ください。<br />
      <br />
      しっかりとヒアリングをし<br />
      ご相談内容に沿った風水上のアドバイスを致します。<br />
      <br />
      またご自宅やオフィスなどの「間取り図鑑定」もご提供しております。<br />
      <br />
    </p>
  </div>
</div>


<!-- main -->
<main>
  <div class="main-blog">
    <%= image_tag('img/メイン1.jpg', class: 'blog-main') %>
    <div class="right">
      <h3 class="blog-heading">北海道札幌市の風水鑑定</h3>
      <p class="main-text">
        株式会社 ターン・ライトのホームページをご覧いただき、ありがとうございます。<br />
        弊社は北海道札幌市にある、風水鑑定をご提供している会社です。<br />
        エリアは札幌市だけでなく、全国どこでもご対応しております。<br />
        <br />
        人間関係、恋愛、育児、家庭問題、夫婦仲など、なんでもご相談ください。<br />
        しっかりとヒアリングをし、ご相談内容に沿った風水上のアドバイスを致します。<br />
        またご自宅やオフィスなどの「間取り図鑑定」もご提供しております。<br />
        <br />
        まずは、北海道札幌市の弊社までお気軽にお問い合わせください<br />
        <br />
        <br />
        <%= image_tag('img/line友だち追加ボタン.png') %><br />
        <br />
      </p>
    </div>
  </div>
</main>

<div class="content">
  <section class="blog">
    <div class="blog-box">
      <div class="blog-item">
        <%= image_tag('img/forest.jpg', class: 'blog-image') %>
        <section class="blog-text">
          <h3 class="blog-text-heading">
            <h1 class="text-title">風水鑑定</h1>
            <p class="text">
              お客様のお悩みに対し、風水鑑定で最適なアドバイスをご提供しております。<br />
              ご提供する風水鑑定は「宿命鑑定」「間取り図鑑定」の2つをご用意しています。<br />
              それぞれのニーズに合わせたサービスでお客様のお悩み解決に繋げております。<br />
              詳しくはこちらのページをご覧ください。<br />
            </p>
          </h3>
          <%= link_to '詳しくはこちら', husuis_index_path, class: "btn btn-success" %>
        </section>
      </div>
      <div class="blog-item">
        <%= image_tag('img/desert.jpg', class: 'blog-image') %>
        <section class="blog-text">
          <h3 class="blog-text-heading">
            <h1 class="text-title">よくある質問</h1>
            <p class="text">
              弊社への疑問や質問などがある方は、お問い合わせ前に一度こちらのページをご確認ください。<br />
              こちらのページでは、弊社へのこれまでのお問い合わせ内容から特に多かったご質問をピックアップしてご紹介しております。<br />
              こちらのページで解決しない場合、お気軽にお問い合わせください。<br />
            </p>
          </h3>
          <%= link_to '詳しくはこちら', husuis_show_path, class: "btn btn-success" %>
        </section>
      </div>
      <div class="blog-item">
        <%= image_tag('img/sunset.jpg', class: 'blog-image') %>
        <section class="blog-text">
          <h3 class="blog-text-heading">
            <h1 class="text-title">お問い合わせ</h1>
            <p class="text">
              弊社へご連絡はこちらのページからどうぞ。お問い合わせは「LINE」をご用意しています。<br />
              24時間受け付けておりますので、早朝や深夜などいつでもご連絡ください。<br />
              <br />
              <br />
              <br />
            </p>
          </h3>
          <%= link_to '詳しくはこちら', husuis_help_path, class: "btn btn-success" %>
        </section>
      </div>
    </div>
  </section>
</div>


<!-- footer -->
<footer>
  <div class="footer-about-sec">
    <h4>株式会社 ターン・ライト</h4>
		<p>LINEでのお問い合わせはこちらから</p>
		<%= image_tag('img/line友だち追加ボタン.png') %>
		<!--- <a href="https://yoya-kuru.com/priority_select.php?s=86&ifa=" target="_blank" class="yoyakuru-but"><img src="https://fukushige-fusuigaku.com/wp-content/themes/story_tcd041/img/yoyakuru-banner.jpg" class="yoyaku_bunner" alt="ヨヤクル" /></a> --->
  </div>
  
  <div class="footer-text">
		<ul class="footer-menu-list">
			<li class="nav-list-item"><%= link_to 'ご挨拶', homes_about_path, class: "link" %></li>
      <li class="nav-list-item"><%= link_to '料金案内', husuis_index_path, class: "link" %></li>
      <li class="nav-list-item"><%= link_to 'ご相談の流れ', husuis_show_path, class: "link" %></li>
      <li class="nav-list-item"><%= link_to 'お問い合わせ', husuis_help_path, class: "link" %></li>
		</ul>
		<p class= "footer-last">Copyright © 株式会社 ターン・ライト. All rights reserved.</p>
  </div>
</footer>