<!-- header -->
<header>
  <h1 class="heading">
    <a href='root_path'>
      株式会社 <span>ターン・ライト</span>
    </a>
  </h1>
  <nav>
    <ul class="nav-list">
      <li class="nav-list-item">ご挨拶</li>
      <li class="nav-list-item">料金案内</li>
      <li class="nav-list-item">ご相談の流れ</li>
      <li class="nav-list-item">お問い合わせ</li>
    </ul>
  </nav>
</header>
<!-- main-visual用のdiv -->
<div class="main-visual">
  <div class="main-visual-content">
    <p class="main-visual-text">
      風水でくらしを豊かに<br />
      <br />
      人間関係、恋愛、育児、家庭問題、夫婦仲など<br />
      なんでもご相談ください。<br />
      <br />
      しっかりとヒアリングをし<br />
      ご相談内容に沿った風水上のアドバイスを致します。<br />
      <br />
      またご自宅やオフィスなどの「間取り図鑑定」もご提供しております。<br />
      <br />
    </p>
  </div>
</div>

<!-- main -->
<main>
  <section class="blog">
    <h2 class="blog-heading"></h2>
    <div class="blog-box">
      <div class="blog-item">
        <%= image_tag('img/forest.jpg', class: 'blog-image') %>
        <section class="blog-text">
          <h3 class="blog-text-heading">
            <h1 class="text-title">風水鑑定</h1>
            <a class="text">
              お客様のお悩みに対し、風水鑑定で最適なアドバイスをご提供しております。<br />
              ご提供する風水鑑定は「宿命鑑定」「間取り図鑑定」の2つをご用意しています。<br />
              それぞれのニーズに合わせたサービスでお客様のお悩み解決に繋げております。<br />
              詳しくはこちらのページをご覧ください。<br />
            </a>
          </h3>
          <%= link_to '詳しくはこちら', husuis_index_path %>
        </section>
      </div>
      <div class="blog-item">
        <%= image_tag('img/desert.jpg', class: 'blog-image') %>
        <section class="blog-text">
          <h3 class="blog-text-heading">
            <h1 class="text-title">よくある質問</h1>
            <a class="text">
              弊社への疑問や質問などがある方は、お問い合わせ前に一度こちらのページをご確認ください。<br />
              こちらのページでは、弊社へのこれまでのお問い合わせ内容から特に多かったご質問をピックアップしてご紹介しております。<br />
              こちらのページで解決しない場合、お気軽にお問い合わせください。<br />
            </a>
          </h3>
          <%= link_to '詳しくはこちら', husuis_show_path %>
        </section>
      </div>
      <div class="blog-item">
        <%= image_tag('img/sunset.jpg', class: 'blog-image') %>
        <section class="blog-text">
          <h3 class="blog-text-heading">
            <h1 class="text-title">お問い合わせ</h1>
            <a class="text">
              弊社へご連絡はこちらのページからどうぞ。お問い合わせは「LINE」をご用意しています。<br />
              24時間受け付けておりますので、早朝や深夜などいつでもご連絡ください。<br />
            </a>
          </h3>
          <%= link_to '詳しくはこちら', husuis_help_path %>
        </section>
      </div>
    </div>
  </section>
</main>

<!-- footer -->
<footer>
  <p class="footer-text">Copyright © 株式会社 ターン・ライト. All rights reserved.</p>
</footer>